.celula {
    margin: 4px 4px;
    background-color: green;
    width: 90px;
    height: 90px;
}

.celula.xis::before,
.celula.xis::after {
    margin-top: 37px;
    margin-left: -45px;
    content: "";
    height: 15px;
    width: 90px;
    background: white;
    position: absolute;
}
.celula.xis::before{
    transform: rotate(45deg);
}
.celula.xis::after {
    transform: rotate(-45deg);
}

.celula.circulo::before,
  .celula.circulo::after{
    content: "";
    margin-top: 10px;
    margin-left: -35px;
    height: 70px;
    width: 70px;
    background: white;
    position: absolute;
    border-radius: 50%;
  }

  .celula.hoverDoCirculo:not(.xis):not(.circulo):hover::after{
    content: "O";
    margin-top: -15px;
    margin-left: 5px;
    font-size:80px;
  }
  .celula.hoverDoXis:not(.xis):not(.circulo):hover::after{
    content: "X";
    margin-top: -50px;
    margin-left: 5px;
    font-size:80px;
  }